@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* GLOBAL CSS */
* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  display: block;
  color: #3d3d42;
  min-height: 100vh;
  transition: var(--tran-05);
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.button button {
  background: #4484FF;
  border-radius: 5px;
  border: 0;
  width: auto;
  height: auto;
  padding: 10px 20px;
  font-weight: 500;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}
.button button:hover{
    background-color: #80acff;
    color: #ffff;
  }
form input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
}
.checkbox-with-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
select {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
}
label {
  font-weight: bold;
}

input[type=submit] {
  font-weight: bold;
  background-color: #4484FF;
  color: #FFF;
  border-radius: 10px;
}

.alert-success{
  text-align:center; 
  color: #155724; 
  background-color:#c7eed0;
}

.alert-fail{
  text-align:center; 
  color: #CF222E; 
  background-color:#FFEBE9;
  border: #FFC1C0 1px Solid;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* END OF GLOBAL CSS */

/* NAVBAR */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  align-items: center;
}
.navbar .logo,
.navbar .menu {
  display: flex;
  margin: 20px 0;
  align-items: center;
}
.navbar .logo {
  flex: 1;
  padding: 10px 20px;
}
.navbar .menu {
  flex: 2;
  justify-content: flex-end;
}
.navbar .menu .active {
  color: #343799;
  font-weight: bold;
}
.navbar .logo,
.navbar .menu {
  color: #3d3d42;
  text-align: center;
}
.navbar .logo div a,
.navbar .menu div a {
  display: inline;
  color: #3d3d42;
  text-align: center;
  text-decoration: none;
  transition: transform 0.2s;
}
.navbar .logo div a {
  padding: 0 5px;
}
.navbar .menu div a {
  padding: 10px 25px;
}
.navbar .menu .menu-option a:hover{
  color: #4484FF;
}
.navbar .menu .login-button a {
  background: #4484ff;
  border-radius: 5px;
  border: 0;
  width: 93px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}
.navbar .menu .login-button a:hover{
  background-color: #80acff;
  color: #ffff;
}
.dropbtn {
  margin: 0;
  background-color: #FFF;
  padding: 0 25px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  z-index: 1;
}
.navbar .menu .menu-option .dropdown-content a {
  padding: 10px 125px;
  border-radius: 10px;
}
.navbar .menu .menu-option .dropdown-content a:hover {
  background: #80acff;
  color: #FFF;
}
.show-down {display: block;}
/* END OF NAVBAR */

/* FOOTER */
footer {
  display: flex;
  background: #b7c8e9;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
footer .center p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
}
footer .center .privacy-terms {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer a{
  text-decoration: none;
  color: #3d3d42;
}
footer a:hover{
  color: #4484ff;
}
/* END OF FOOTER */

/* DROPDOWN */
/* .dropdown-container {
  color: #3d3d42;
  text-align: center;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content p {
  color: black;
  padding: 8px 16px;
  margin: 0;
  text-decoration: none;
  display: block;
}
.dropdown-content p:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
  display: block;
} */
/* END OF DROPDOWN */  

/* HOMEPAGE */
/* BRAND */
.home {
  display: flex;
  flex: 1;
  padding: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.brand {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  /* background-color: rgb(54, 54, 54); */
}
.tag-fluid {
  flex: 3;
  /* padding: 20px; */
}
.title h1 {
  font-size: 72px;
  line-height: 110%;
}
.button-reserve {
  display: flex;
  background-color: #4484ff;
  height: 45px;
  width: 250px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.button-reserve a {
  text-decoration: none;
  color: #ffff;
}
.button-reserve:hover{
  background-color: #80acff;
}
.picture-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}
.blob-1 {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M883.5%2C622Q836%2C744%2C722%2C788.5Q608%2C833%2C482%2C888Q356%2C943%2C247%2C853Q138%2C763%2C129%2C631.5Q120%2C500%2C176.5%2C403Q233%2C306%2C295%2C183.5Q357%2C61%2C486.5%2C102.5Q616%2C144%2C753%2C180.5Q890%2C217%2C910.5%2C358.5Q931%2C500%2C883.5%2C622Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22none%22 stroke=%22%23c1c5ff%22 stroke-width=%2220%22 d=%22M883.5%2C622Q836%2C744%2C722%2C788.5Q608%2C833%2C482%2C888Q356%2C943%2C247%2C853Q138%2C763%2C129%2C631.5Q120%2C500%2C176.5%2C403Q233%2C306%2C295%2C183.5Q357%2C61%2C486.5%2C102.5Q616%2C144%2C753%2C180.5Q890%2C217%2C910.5%2C358.5Q931%2C500%2C883.5%2C622Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
}
.span-destined {
  color: #4484ff;
}
.img-worker {
  width: 650px;
  height: auto;
  position: absolute;
  z-index: 2;
}
/* END BRAND */

/* OUR APP, TEAM, OFFICES */
.our-fluid, .our-fluid-img-tx {
  display: flex;
  flex: 1;
  padding: 0px 70px 0px 100px;
}
.our-desc-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.our-subtitle h1 {
  color: #333699;
}
.our-desc p {
  text-align: justify;
}
.our-picture {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.our-logo {
  width: 400px;
  height: auto;
  position: absolute;
  z-index: 10;
}
.blob-2 {
  width: 500px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3Cpattern id=%22pattern%22 patternUnits=%22userSpaceOnUse%22 width=%2225%22 height=%2225%22 viewBox=%220 0 100 100%22 fill=%22%23e3d0ff%22 %3E %3Ccircle cx=%2250%22 cy=%2250%22 r=%2212.5%22 %2F%3E %3C%2Fpattern%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M770%2C656.5Q602%2C813%2C361%2C794.5Q120%2C776%2C112.5%2C494.5Q105%2C213%2C379%2C120.5Q653%2C28%2C795.5%2C264Q938%2C500%2C770%2C656.5Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22url(%23pattern)%22 d=%22M770%2C656.5Q602%2C813%2C361%2C794.5Q120%2C776%2C112.5%2C494.5Q105%2C213%2C379%2C120.5Q653%2C28%2C795.5%2C264Q938%2C500%2C770%2C656.5Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
}
@media only screen and (max-width:1024px) {
  .our-fluid, .our-fluid-img-tx{
    padding: 0;
  }
  .blob-1 {
    width: 300px;
    height: 300px;
  }
  .img-worker {
    width: 400px;
  }
  .blob-2 {
    width: 450px;
    height: 400px;
  }
  .our-logo {
    width: 350px;
  }
  .title h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width:912px) {
  .home {
    padding: 100px 50px;
  }
  .blob-1 {
    width: 300px;
    height: 300px;
  }
  .img-worker {
    width: 400px;
  }
  .blob-2 {
    width: 350px;
    height: 300px;
  }
  .our-logo {
    width: 300px;
  }
  .title h1 {
    font-size: 36px;
  }
  .subtitle h3 {
    font-size: 18px;
  }
  .our-subtitle h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .brand, .our-fluid {
    flex-direction: column-reverse;
  }
  .our-fluid, .our-fluid-img-tx{
    padding: 0;
  }
  .our-fluid-img-tx {
    flex-direction: column;
  }
  .blob-1 {
    width: 450px;
    height: 450px;
  }
  .img-worker {
    width: 600px;
  }
  .blob-2 {
    width: 550px;
    height: 500px;
  }
  .our-logo {
    width: 450px;
  }
}
@media only screen and (max-width:540px) {
  /* For mobile phones: */
  .home {
    padding: 100px 25px;
  }
  .brand, .our-fluid {
    flex-direction: column-reverse;
  }
  .our-fluid-img-tx {
    flex-direction: column;
  }
  .our-fluid, .our-fluid-img-tx{
    padding: 0;
  }
  .hide {
    display: none;
  }
  .blob-1 {
    width: 250px;
    height: 250px;
  }
  .img-worker {
    width: 350px;
  }
  .blob-2 {
    width: 350px;
    height: 300px;
  }
  .our-logo {
    width: 250px;
  }
  .title h1 {
    font-size: 24px;
  }
  .our-subtitle h1 {
    font-size: 18px;
  }
  .our-desc p {
    font-size: 14px;
    padding: 25px;
  }
  .button-reserve {
    width: 100%;
  }
  footer .center .privacy-terms {
    flex-direction: column;
    align-items: center;
  }
  .dropbtn {
    display: block;
  }
  .menu-hide {
    display: none;
  }
}
@media only screen and (max-width:280px) {
  .blob-1 {
    width: 150px;
    height: 150px;
  }
  .img-worker {
    width: 200px;
  }
  .blob-2 {
    width: 200px;
    height: 150px;
  }
  .our-logo {
    width: 150px;
  }
  .subtitle h3 {
    font-size: 14px;
  }
  .our-subtitle h1 {
    font-size: 14px;
  }
  .our-desc p {
    font-size: 12px;
    padding: 10px;
  }
  .navbar .menu .menu-option .dropdown-content a {
    padding: 10px 100px;
  }
}
/* END OF OUR APP, TEAM, OFFICES */
/* END OF HOMEPAGE */

/* FEATURE PAGE CSS*/
.section-container {
  display: flex;
  padding: 0px 70px 20px 50px;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.section-container .columns {
  flex: 0 0 auto;
  width: 50%;
}
.section-container .columns.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 473px;
  height: 356px;
}
.columns.image {
  margin-top: 50px;
  /* margin-left: 50px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#calendar{
  margin-top: 50px;
  /* margin-left: 50px; */
  background: #FF4269;
}
.cal h5{
  color: #FF4269;
}
#office-view{
  margin-top: 50px;
  /* margin-left: 50px; */
  background: #F2A645;
}
.office-view h5{
  color: #F2A645;
}
#desk-view{
  margin-top: 50px;
  /* margin-left: 50px; */
  background: #06BB87;
}
.desk-view h5{
  color: #06BB87;
}
.section-container .columns.content .content-container {
  padding: 40px 50px;
}
.section-container .columns.content .content-container h5 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.section-container .columns.content .content-container p {
  font-weight: 400;
  font-size: 16px;
  text-align: justify;
}
.content-title {
  text-align: center;
  color: #4484ff;
  margin-top: 50px;
  font-weight: 700, bold;
  font-size: 28px;
}
.title-desc {
  text-align: center;
  color: #3d3d42;
  margin-top: -20px;
  font-weight: 700;
  font-size: 24px;
}
/* END OF FEATURE PAGE */

/* DEMO PAGE CSS */
.demo {
  text-align: center;
}
.demo-desc {
  display: flex;
  flex-direction: column;
  color: #2E2E33;
  /* justify-content: space-around; */
}
.demo-desc .demo-desc-container {
  margin-top: 50px;
}
.Add-Reservation {
    margin-bottom: 70px;
}
.Cancel-Reservation {
    margin-bottom: 70px;
}
.View-Dashboard {
    margin-bottom: 70px;
}
.Manage-Schedule {
    margin-bottom: 70px;
}
/* END OF DEMO PAGE */

/* PRIVACY STATEMENT, TERMS & CONS*/
.privacy-fluid, .terms-fluid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px 200px;
}
.privacy-subtitle, .terms-subtitle{
  display: flex;
}
.privacy-statement, .terms-cons{
  text-align: justify;
}
/* END PRIVACY STATEMENT, TERMS & CONS*/

/* SIDEBAR */
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #FFF;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details .logo-d a{
  display: flex;
  padding: 20px;
  font-size: 30px;
  color: #3D3D42;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .logo-details .toggle{
  position: absolute;
  right: -15px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: #695CFE;
  color: #FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}
.sidebar.close .toggle{
  transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu-links{
  height: 100%;
  overflow: auto;
}
.sidebar.close .menu-links{
  overflow: visible;
}
.sidebar .menu-links::-webkit-scrollbar{
  display: none;
}
.sidebar .menu-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  border-radius: 6px;  
}
.sidebar .menu-links li:hover{
  background: #80acff;
}
.sidebar .menu-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .menu-links li .iocn-link{
  display: block
}
.sidebar .menu-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #3D3D42;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .menu-links li i:hover{
  color: #fff;
}
.sidebar .menu-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .menu-links i.arrow{
  display: none;
}
.sidebar .menu-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .menu-links li a .link_name{
  font-weight: 400;
  color: #3D3D42;
  transition: all 0.4s ease;
}
.sidebar .menu-links li a .link_name:hover{
  color: #fff;
}
.sidebar.close .menu-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .menu-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #80acff;
  display: none;
}
.sidebar .menu-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .menu-links li .sub-menu a{
  color: #fff;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .menu-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .menu-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .menu-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .menu-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .menu-links li .sub-menu .link_name{
  opacity: 1;
  display: block;
}
.sidebar .menu-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .menu-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #80acff;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 0px 0 12px;
  background: #80acff;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.sidebar .menu-links li i.bx-log-out{
  min-width: 0px;
}
.body-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  height: 100%;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .body-section{
  left: 78px;
  width: calc(100% - 78px);
}
.body-section .body-header{
  margin: 0 35px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.body-section .body-header .bx-menu
{
  color: #11101d;
  font-size: 35px;
  margin: 0 15px;
  cursor: pointer;
}
.body-content {
  padding: 0 50px 50px;
}
@media (max-width: 400px) {
  .sidebar.close .menu-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .body-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .body-section{
    width: 100%;
    left: 0;
  }
}
/* END OF SIDE BAR */

/* MODAL */
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 90px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* The Modal Header */
  .modal-header {
    padding: 2px 16px;
    background-color: blue;
    color: white;
    text-align: center;
  }
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #FFF;
    /* background-image: url("../images/open-book.jpg"); */
    background-size: 840px 500px;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  /* The Close Button */
  span.close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: -50px;
    margin-right: -45px;
  }
  span.close:hover,
  span.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-body {padding: 10px 16px;}
  /* END OF MODAL */

/* My Calendar */
/* .month, .week {
  margin: 3px;
  font-size: 13px;
  width: auto;
  padding:8px 10px 8px 10px;
  background: #4484FF;
  color: #fff;
  outline: none;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.5s;
  text-decoration: none;
}
.month:hover, .week:hover {
  background: #2e73f4;
  color: #fff;
  transition: 0.5s;
} */

/* Global CSS for Buttons */
.fa-plus {
  font-size: 13px;
}
.add, .go-to {
    margin: 0 10px;
    font-size: 13px;
    width: auto;
    padding: 8px;
    background: #4484FF;
    color: #fff;
    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 0.5s;
    text-decoration: none;
    text-align: right;
}
.add:hover, .go-to:hover {
    background: #5055dc;
    color: #fff;
    transition: 0.5s;
}
.add:focus, .go-to:focus {
    box-shadow: 0 0 0 5px rgba(158, 149, 239, 0.5);
}
/* End of Global CSS for Buttons */

/* TABLE */
.list-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
table th + th { border-left: thin solid #FFFFFF; }
td, th {
  text-align: center;
  padding: 8px;
}
th{
  height: 10px;
  color: #FFFFFF;
  background-color: #313499;
}
table, td {
  border: thin solid #313499;
}
tr:nth-child(odd) {
  background-color: #ffff;
}

/* END OF TABLE */
.read {
  margin: 5px;
  font-size: 13px;
  width: 50px;
  height: auto;
  padding:5px;
  background: #5cb85c;
  color: #fff;
  outline: none;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.5s;
  text-decoration: none;
}
.read:hover {
  background: #2e952e;
  color: #fff;
  transition: 0.5s;
}
.update {
  margin: 5px;
  font-size: 13px;
  width: 50px;
  height: auto;
  padding:5px;
  background: #F2A645;
  color: #fff;
  outline: none;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.5s;
  text-decoration: none;
}
.update:hover {
  background: #be8132;
  color: #fff;
  transition: 0.5s;
}
.destroy {
  margin: 5px;
  font-size: 13px;
  width: 50px;
  height: auto;
  padding:5px;
  background: #F26849;
  color: #fff;
  outline: none;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: 0.5s;
  text-decoration: none;
}
.destroy:hover {
  background: #b85039;
  color: #fff;
  transition: 0.5s;
}
.action{
  vertical-align: middle; 
  text-align: center;
}
/* End of My Calendar */

.sidebar label {
  margin: 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
}
#toggle {
  display: none;
}
/*Media query*/
@media only screen and (max-width: 540px){
  iframe {
    width: 290px;
    height: 190px;
  }
  .body-content {
    font-size: 15px;
}
  p {
    font-size: 80%;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .extra-content {
    justify-content: center;
  }

.read-more  {
  margin-left: 35%;
  display: center;
}

.show {
   display: none;
}
}

@media (min-width: 768px) {
  .read-more {
    display: none;
 }
 .extra-content {
   display: block;
 }
}

@media (max-width: 540px) {
  .extra-content {
    display: none;
  }
  
.read-more  {
  display: block;
  margin-left: 35%;
}
.show {
   display: inline;
   text-align: justify;
   background-color: rgba(0,0,0,0);
   color: rgb(201, 197, 190);
   justify-content: center;
}
  iframe  {
    width: 100%;
} 
.sidebar, .sidebar close{
  display: block;
}

.sidebar .logo-details .toggle {
  display: block;
}
 
.menu-links {
  display: block;
}
.sidebar label {
  display: block;
  cursor: pointer;
}
#toggle:checked + .sidebar {
  display: block;
}
}

@media (max-width: 280px) {
  h2 {
    font-size: 18px;
  }
  iframe  {
    width: 200px;
    height: 100px;
  } 
  .read-more  {
    display: block;
    margin-left: 32%;
}
 .extra-content {
   margin: 0;
   padding: 0;
   text-align: justify;

 }
 .body-content {
   padding: 10px;
 }
}

/*Dashboard*/
.content .cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.icon-case{
  height: 80px;
  width: 80px;
  background-color: #bbb;
  border-radius: 50%;
 
}
.us-dash{
  margin-top: 100px;
}
.icon-case h1{
  font-size: 48px;
  text-align: center;
   margin-top: 5px;
}
.box1{
  margin-left: -15px; 
  margin-right: -5px; 
   text-align: center;
}
.box2{
  margin-left: -20px; 
  margin-right: -10px; 
   text-align: center;
}
.box3{
  margin-right: -10px; 
  margin-left: -30px;
  text-align: center;
}
.dot1{
  margin: 20px;
   background: rgba(6, 187, 135, 0.72);
}
.dot3{
  margin-right: 20px; 
  margin-left: 10px;  
  width: 100px;
  background: rgba(242, 104, 73, 0.72);
}
.content .cards .card {
  width: 250px;
  background: white;
  margin-top: -90px ; 
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.content .content-2 {
  min-height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content .content-2  {
  min-height: 50vh;
  flex: 5;
  margin: 0 25px 25px 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}

.content .content-2  {
  flex: 2;
  background: white;
  min-height: 50vh;
  margin: 0 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
.calendar{
  margin-left: -70px;
}

.card{
  margin-right: 40px;
}

/*Filter*/
.inp-group{
  width: 300px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: -60px;
}
#lang{
  border-radius: 10px;
}

/*Team Member*/
.list-wrapper {
  width: 300px;
 /* margin: 50px auto; */
  margin-right: 20px;
}

.list {
  list-style: none;
  padding: 10px 20px;
}

.list-item {
  display: flex;
  margin: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.content{
    margin-left: 20px;
  }
.list-item h4, p{
      margin: 0;
    }
.list-item p{
      margin-top: 5px;
      font-size: small;
  }
  .list-item-image{
    width: 30px;
    height: auto;
  }
  .list-item-content h4, p{
    margin-left: 10px;
  }

  /*Dashboard Cal.*/
  
.calendar-wrapper {
  max-width: 300px;
  margin-left:50px;
  text-align: left;
  
}
.dash-cal{
  margin:50px;
  width: 350px;
  margin-top: -100px;
  display: inline-block;
  vertical-align: middle;

}
.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-name {
  background: #4484FF;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  padding: 2px;
}
.titles{
  margin-left: -70px;
  width: 50%;
  float: left;
  font-weight: bold;
}

.side-title{
  text-align: right;
  flex-grow: 1;
  display: block;
  text-decoration: none;
}
